<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="mx-auto col-6">
            <h1 class="text-center pt-5"><%= title %></h1>
            <form class="form p-5" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= incident._id %>"
                    >
                    <label for="itemTextField">Title</label>
                    <input type="text" class="form-control"
                        id="nameTextField"
                        placeholder="Enter Your Title"
                        name="title" 
                        value="<%= incident.title %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="QtyTextField">Description</label>
                    <input type="text" class="form-control"
                    id="numberTextField"
                    placeholder="Enter A Description For Incident"
                    name="description" 
                    value="<%= incident.description %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="statusTextField">Tags</label>
                    <input type="text" class="form-control"
                    id="emailTextField"
                    placeholder="Enter Incident Tags"
                    name="tag" 
                    value="<%= incident.tag %>"
                    >
                </div>
                <br />              

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/incidents" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

                <a href="/incidents/delete/<%= incident._id %>" class="btn btn-danger">
                    Delete
                </a>
            </form>
        </div>
    </div>
</div>

<%- include ../partials/footer.ejs %>