<%- include ../partials/header.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="row p-5">
        <h1 class="pb-5"><%= title %></h1>
        <br>
        <div class="table-responsive">
            <a class="btn btn-primary" href="/incidents/create" role="button">Create Incident</a>
            <br><br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Tags</th>
                    <th class="text-center" colspan="2">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->
                <% for(let count = 0; count < incidents.length; count++) { %>
                    <tr>
                        <td class="text-center"><%= incidents[count].title %></td>
                        <td class="text-center"><%= incidents[count].description %></td>
                        <td class="text-center"><%= incidents[count].tag %></td>
                        <td class="text-center">
                            <a href="/incidents/update/<%= incidents[count]._id%>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="/incidents/delete/<%= incidents[count]._id%>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
<%- include ../partials/footer.ejs %>
